<form method="POST" action="/store">
  <div class="mb-3">
    <label for="name" class="form-label">Add todo</label>
    <input type="test" class="form-control" id="text-todo" name="content" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<ul class="list-group mt-5">
  {{#each todos}}
    <li class="list-group-item">{{this.content}}</li>
  {{/each}}
</ul>